/*
CSS Standars of Website

Color 1: #3399FF
Color 2: #D6EAFF
Navbar Font Size: 1.25rem

*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* GLOBAL CLASSES */
.header-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7rem;
    max-width: 1024px;
    min-width: 600px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 4px 4px gray;
}

.header {
    font-size:4em;
    margin: 0;
    padding: 0;
    animation: fadein 2s;
    user-select: none;
}

.content {
    margin-top: 25px;
    animation: fadein 1.5s;
}

.page {
    margin: 3rem;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.card {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
    box-shadow: 4px 4px gray;
    transition-timing-function: ease-out;
    transition:.5s; 
    flex-basis: 40%;
    min-width: 500px;
    max-width: 800px;
    flex-grow: 1;
}

.card h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.routing-card {
    flex-basis: 15%;
    max-width: 300px;
    min-width: 150px;
    height: auto;
}

.card:hover {
    box-shadow: none;
    transition-timing-function: ease-in;
    transition:.5s;
}

/* base styles of index.html */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /* background-color: #D6EAFF; */
    background:linear-gradient(#D6EAFF, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#app {
    height: 100%;
}

/* styles for navbar.html */
.navbar {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* position: fixed; */
    top: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color:#3399FF;
    font-family: "Arial Black", sans-serif;
    font-size: 1.25em; 
    z-index: 100;
}

.selected-nav-item{
    color: white;
    background-color: #1E5B99;
}

.navbar .nav-item{
    flex-basis: 20%;
    padding: 1rem;
    text-align: center;
    transition-timing-function: ease-out;
    transition:.5s; 
    user-select: none;
}

.navbar .nav-item:hover {
    background-color: #1E5B99;
    color: #D6EAFF;
    transition-timing-function: ease-in;
    transition:.5s;
}

.navbar .nav-item:active {
    color: black;
}

/* styles for footer.html */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3399FF;
    color: white;
    text-align: center;
    z-index: 100;
}

.footer-container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-block {
    flex-basis: 33.3%;
    align-self: center;
}

.footer-block p{
    margin: .25rem;
    font-family: sans-serif;
    font-size: 1.15em;
    font-weight: 600;
    color: black;
}

.footer-block img {
    width: 20%;
    align-self: center;
    min-width: 100px;
    max-width: 200px;
}

/* Home Page Styles  */
.home {
    
}

.home-content {
    animation: fadein 2s;    
}

/* Education Page Styles  */

.education-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1000px;
    min-width: 850px;
}

.education-image{
    margin: 1rem;
    flex-basis: 30%;
}

.education-image img {
    width: 250px;
    height: auto;
}

.education-card-body {
    margin: 1rem;
    flex-basis: 70%;
}

.education-card-header {
    margin: .5rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}

.education {

}

.education-content {
    width: 80%;
}


.education-container{
    animation: fadein 2s;
}

/* About Me Page Styles  */

.aboutme {

}

.aboutme-container {
    animation: fadein 2s;
}

/* Hobbies Page Styles  */

.hobbies {

}

.hobbies-container {
    animation: fadein 2s;
}

/* Projects Page Styles  */

.projects {

}

.projects-container {
    animation: fadein 2s;
}