/*
CSS Standars of Website

Color 1: #3399FF
Color 2: #D6EAFF
Navbar Font Size: 1.25rem

*/

/* GLOBAL CLASSES */
.header {
    font-size:4em;
}

/* base styles of index.html */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color:#D6EAFF;
}

#app {
    height: 100%;
}

/* styles for navbar.html */
.navbar {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color:#3399FF;
    font-family: "Arial Black", sans-serif;
    font-size: 1.25em; 
}

.navbar .nav-item{
    flex-basis: 20%;
    padding: 1rem;
    text-align: center;
    transition-timing-function: ease-out;
    transition:.5s; 
}

.navbar .nav-item:hover {
    background-color: #1E5B99;
    color: #D6EAFF;
    transition-timing-function: ease-in;
    transition:.5s;
}

/* Home Page Styles  */

.home {
    margin: 3rem;
    text-align: center;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Education Page Styles  */

.education {
    margin: 3rem;
    text-align: center;
    animation: fadein 2s;
}

/* About Me Page Styles  */

.aboutme {
    margin: 3rem;
    text-align: center;
    animation: fadein 2s;
}

/* Hobbies Page Styles  */

.hobbies {
    margin: 3rem;
    text-align: center;
    animation: fadein 3s;
}

/* Projects Page Styles  */

.projects {
    margin: 3rem;
    text-align: center;
    animation: fadein 2s;
}