.homePage {
    margin:25px;
}

.topHomePage {

}

.botHomePage {
    
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: -webkit-fill-available;
}

.card {
    flex-basis: 33.33%;
    margin: 20px;
    text-align: center;
}

.cardHead {
    text-align: center;
    margin: 20px;
}