<div class="biography page-section">
    <div class="header-content">
        <h1 class="header">Biography</h1>
        <img src="./assets/home-o-media.JPG" alt="">
    </div>
    <div class="content">
        <div class="card-row">
            <div class="card">
                <h1>About me</h1>
                <p>
                    My name is Mouaz Alhindi. I was born in Damascus, Syria and raised in Horsham, PA.
                    I found my passion of Computer Science in the 11th grade.
                    Every since then, I have been pursing a career in the Tech Industry.
                </p>
            </div>
            <div class="card">
                <h1>What's Next?</h1>
                <p>
                    I want to become a specialist in application development and devops.
                    I am interested in the process of creating a scalable, secure, and available infrastructure for a Client Server Application.
                </p>
            </div>
        </div>
    </div>
</div>