<div class="biography page-section">
    <div class="header-content">
        <h1 class="header">Biography</h1>
        <img src="./assets/chill2.jpeg" alt="">
    </div>
    <div class="content">
        <div class="card-row">
            <div class="card">
                <h1>About me</h1>
                <p>
                    My name is Mouaz Alhindi. I was born in Damascus, Syria and raised in Horsham, PA.
                    I found my passion of Computer Science in the 11th grade.
                    Every since then, I have been pursing a career in the Tech Industry.
                </p>
            </div>
            <div class="card">
                <h1>About me (but cooler)</h1>
                <p>
                    I go by the alias of Moz. I was born in the City of Jasmine and raised in the Keystone Commonwealth.
                    I first laid eyes on the magic of computers in my second last year of the village trials.
                    From there, I sworn to master the arts of the computer magic and become a level 99 wizard!
                </p>
            </div>
            <div class="card">
                <h1>What's up right now?</h1>
                <p>
                    Working for an awesome company with awesome people.
                    I still have time to do fun things and learn in my free time too!
                </p>
            </div>
            <div class="card">
                <h1>What's Next?</h1>
                <p>
                    I want to become a specialist in application development and devops.
                    I am interested in the process of creating a scalable, secure, and available infrastructure for a Client Server Architecture.
                </p>
            </div>
            <div class="card">
                <h1>Nodebyte!</h1>
                <p>
                    I maintain Billnet in my freetime. I only have it deployed for beta and took it off the app store.
                    follow social media accounts for nodebyte (www.nodebyte.io) and billnet (www.billnet.io) to catch up on the latest.
                </p>
            </div>
            <div class="card">
                <h1>Fun Fact!</h1>
                <p>
                    This website is raw! I wrote this code when I was a younger lad (I'm still a young lad!)!
                    The cool part it is all raw html, js, and css... NO package.json,  "npm-doo-hickies".
                </p>
            </div>
        </div>
    </div>
</div>