<div class="biography page-section">
    <div class="header-content">
        <h1 class="header">Biography</h1>
        <img src="./assets/home-o-media.JPG" alt="">
    </div>
    <div class="content">
        <div class="card-row">
            <div class="card">
                <h1>About me</h1>
                <p>
                    My name is Mouaz Alhindi. 
                </p>
            </div>
            <div class="card">
                <h1>Passion</h1>
                <p>
                    I have a passion for technology and computational analysis.
                    In essence, it is the idea of solving problems with computers and optimizing those soultions.
                </p>
            </div>
            <div class="card">
                <h1>Hobbies</h1>
                <p>
                    In my free time I like to do all sorts of things such as:
                    read and learn about things that interest me, 
                    listen to and play music,
                    and research anything that catches my attention for a period of time.
                </p>
            </div>
            <div class="card">
                <h1>What's Next?</h1>
                <p>
                    I want to continue to grow in many ways. 
                    In my free time I focus on producing projects that I come up with. 
                    Some of my goals for the future are: 
                    to attend more Hackathons, 
                    sharpen my work ethic,
                    and be a life long learner.
                </p>
            </div>
        </div>
    </div>
</div>