<div class="education page-section">
    <!-- <div class="header-container">
        <h1 class="header">Education</h1>
    </div> -->
    <div class="header-content">
        <h1 class="header">Education</h1>
        <img src="./assets/graduation.JPG" alt="">
    </div>
    <div class="content">
        <div class="card-column">
            <div class = "card education-card collapsible" style="width:inherit;">
                <div class="education-image collapsible-trigger">
                    <img src="./assets/bucknell-logo.png" alt="">
                </div>
                <div class="education-card-body">
                    <h2 class="education-card-header">Bucknell University</h2>
                    <div>
                        <p><strong>Degree:</strong> B.A. Computer Science</p>
                        <p><strong>Current Status: </strong>Alumni</p>
                        <p><strong>involvement</strong></p>
                        <p>Bucknell Community College Scholar</p>
                        <p>Association for Computing Machinery</p>
                        <p>Sigma Alpha Epsilon</p>
                    </div>
                </div>    
            </div>
            <div class="card education-card collapsible"style="width:inherit;">
                <div class="education-image collapsible-trigger">
                    <img src="./assets/mc3-icon.png" alt="">
                </div>
                <div class="education-card-body ">
                    <h2 class="education-card-header">Montgomery County Community College</h2>
                    <div>
                        <p><strong>Degree:</strong> A.S. Computer Science</p>
                        <p><strong>Current Status:</strong> Alumni</p>
                        <p><strong>involvement</strong></p>
                        <p>Founder of the Code Club</p>
                        <p>Member of College Honors Program</p>
                        <p>Member of Phi Theta Kappa Honors Society</p>
                    </div>
                </div>
            </div>
            <div class="card education-card collapsible" style="width:inherit;">
                <div class="education-image collapsible-trigger">
                    <img src="./assets/HH-logo.jpg" alt="">
                </div>
                <div class="education-card-body ">
                    <h2 class="education-card-header">Hatboro-Horsham High School</h2>
                    <div>
                            <p><strong>Degree:</strong> High School Diploma</p>
                            <p><strong>Current Status:</strong> Alumni</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>