<div class="experience page-section">
    <div class="header-content">
        <h1 class="header">Experience</h1>
        <img src="./assets/brick-headshot-2.jpg" alt="">
    </div>
    <div class="content">
        <div class="card-colunn">
            <div class="card experience-card">
                <img src="./assets/work-logo.png" alt="" style="width: 150px; margin:auto">
                <h2>Software Engineer @</h2>
                <h1>Cybermonic</h1>
                <div class="experience-card-section">
                    <h5>December 2023 - Present</h5>
                    <h4>Notable Achievements</h4>
                    <ul>
                        <li>Provide users with new features</li>
                        <li>Support Deployment and releases</li>
                        <li>Setup data pipelining that can handle at scale, in terms of data not traffic.</li>
                    </ul>
                </div>
            </div>
            <div class="card experience-card">
                <img src="./assets/nodebyte-logo.png" alt="" style="width: 150px; margin:auto">
                <h2>Founder @</h2>
                <h1>Nodebyte</h1>
                <div class="experience-card-section">
                    <h5>September 2022 - Present</h5>
                    <h4>Notable Achievements</h4>
                    <ul>
                        <li>Formed Nodebyte LLC</li>
                        <li>R&D in creating modern client server application and deployment with modern tools</li>
                        <li>Created Billnet as a full scale customer product. Billnet is a financial insight tool for consumers. I made it available on the App Store.</li>
                        <li>Experience in producing a software product from nothing to something that is released to production and has customers.</li>
                    </ul>
                </div>
            </div>
            <div class="card experience-card">
                <img src="./assets/brick-logo.png" alt="">
                <h2>Lead Software Engineer @</h2>
                <h1>BrickSimple</h1>
                <div class="experience-card-section">
                    <h5>November 2021 - July 2022</h5>
                    <h4>Notable Achievements</h4>
                    <ul>
                        <li>Full Stack Development for client product.</li>
                        <li>Developed client product from scratch, onboarded team to codebase as team grew.</li>
                        <li>Communicated with client/company leadership on a daily/weekly basis</li>
                    </ul>
                </div>
            </div>
            <div class="card experience-card">
                <img src="./assets/mitre-logo.png" alt="">
                <h2>Associate Software Engineer @</h2>
                <h1>Mitre</h1>
                <div class="experience-card-section">
                    <h5>July 2020 - November 2021</h5>
                    <h4>Notable Achievements</h4>
                    <ul>
                        <li>Contributed to atlas.mitre.org</li>
                        <li>Provided Full Stack development support</li>
                        <li>Provided Software Engineer support for custom system solution</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>