<div class="experience page-section">
    <div class="header-content">
        <h1 class="header">Experience</h1>
        <img src="./assets/brick-headshot-2.jpg" alt="">
    </div>
    <div class="content">
        <div class="card-colunn">
            <div class="card experience-card">
                <img src="./assets/mitre-logo.png" alt="">
                <div class="experience-card-section">
                    <h3>Position:</h3>
                    <p>Software Engineer Intern</p>
                </div>
                <div class="experience-card-section">
                    <h3>Time with Company</h3>
                    <p>May 2019 - August 2019</p>
                </div>
                <div class="experience-card-section">
                    <h3>Projects apart of:</h3>
                    <p>1 Bid Data Project</p>
                </div>
                <div class="experience-card-section">
                    <h3>skills expressed in experience</h3>
                    <p>During my time as an intern at Mitre, I worked on a Big Data Application. This Application focused on the following: storing data from various sources, transforming it into a universal format, aggregating that data, and analyzing that data to draw some significance based on user-defined rules. Below is a list of ways I contributed to the project.</p>
                    <ul>
                        <li>22 Approved and Merged feature/bug fix/refactor branches into the master branch.</li>
                        <li>Created new User Interfaces and incorporated live data feeds into those user interfaces</li>
                        <li>Created new API endpoint that utilized a nosql database.</li>
                        <li>vocalized ideas for the project</li>
                        <li>experimented with a custom network protocol to feed live data into the front end to be processed while more data was being sent.</li>
                    </ul>
                    <p>MITRE is filled with talented individuals. I am honored to have been a part of the organization for the summer.</p>
                </div>
            </div>
            <div class="card experience-card">
                <img src="./assets/brick-logo.png" alt="">
                <div class="experience-card-section">
                    <h3>Position:</h3>
                    <p>Software/Application Developer Intern</p>
                </div>
                <div class="experience-card-section">
                    <h3>Time with Company</h3>
                    <p>May 2017 - September 2017</p>
                    <p>December 2017 - January 2018</p>
                    <p>May 2018 - August 2018</p>
                </div>
                <div class="experience-card-section">
                    <h3>Projects apart of:</h3>
                    <p>2 Client Projects</p>
                    <p>1 In House Project</p>
                    <p>1 Research and Development Project</p>
                </div>
                <div class="experience-card-section">
                    <h3>skills expressed in experience</h3>
                    <p>Dynamic Application Development with various frameworks and libraries</p>
                    <p>Implmenting business logic and new features to exisiting applications</p>
                    <p>Communication in a team enviornment</p>
                    <p>Project Management</p>
                    <p>Accountability for essential tasks (includes staying after hours to finish tasks)</p>
                </div>
            </div>
        </div>
    </div>
</div>