<div class="experience page-section">
    <div class="header-content">
        <h1 class="header">Experience</h1>
        <img src="./assets/brick-headshot-2.jpg" alt="">
    </div>
    <div class="content">
        <div class="card-colunn">
            <div class="card experience-card">
                <img src="./assets/mitre-logo.png" alt="">
                <div class="experience-card-section">
                    <h2>Incoming Intern for the Summer of 2019!</h2>
                </div>
            </div>
            <div class="card experience-card">
                <img src="./assets/brick-logo.png" alt="">
                <div class="experience-card-section">
                    <h3>Position:</h3>
                    <p>Software/Application Developer Intern</p>
                </div>
                <div class="experience-card-section">
                    <h3>Time with Company</h3>
                    <p>May 2017 - September 2017</p>
                    <p>December 2017 - January 2018</p>
                    <p>May 2018 - August 2018</p>
                </div>
                <div class="experience-card-section">
                    <h3>Projects apart of:</h3>
                    <p>2 Client Projects</p>
                    <p>1 In House Project</p>
                    <p>1 Research and Development Project</p>
                </div>
                <div class="experience-card-section">
                    <h3>skills expressed in experience</h3>
                    <p>Dynamic Application Development with various frameworks and libraries</p>
                    <p>Implmenting business logic and new features to exisiting applications</p>
                    <p>Communication in a team enviornment</p>
                    <p>Project Management</p>
                    <p>Accountability for essential tasks (includes staying after hours to finish tasks)</p>
                </div>
            </div>
        </div>
    </div>
</div>