<div class="home page-section">
    <div class="header-content">
        <h1 class="header home-header">Hello World, I'm Mouaz Alhindi</h1>
        <img src="./assets/brick-headshot-3.jpg" alt="">
    </div>
    <div class="content">

        <h1 class="welcome-header">Welcome</h1>

        <div class="card-row">
            <div class="image-card routing-card" id="router" page="projects">
                <img class="image-card-img" src="./assets/project-media.JPG" alt="">
                <h1 class="image-card-text">Projects</h1>
                <div class="overlay">
                    <p class="overlay-text">Take a look at the projects I am currently working on!</p>
                </div>
            </div>
            <div class="image-card routing-card" id="router" page="credentials">
                <img class="image-card-img" src="./assets/books.JPG" alt="">
                <h1 class="image-card-text">Credentials</h1>
                <div class="overlay">
                    <p class="overlay-text">Check out what I strive to specalize in!</p>
                </div>
            </div>
            <div class="image-card routing-card" id="router" page="biography">
                <img class="image-card-img" src="./assets/home-o-media.JPG" alt="">
                <h1 class="image-card-text">Biography</h1>
                <div class="overlay">
                    <p class="overlay-text">See if we share some interests!</p>
                </div>
            </div>
        </div>
    </div>
</div>