<div class="home page-section">
    <div class="header-content">
        <h1 class="header home-header">Hello World</h1>
        <img src="./assets/chill.jpg" alt="">
    </div>
    <div class="content">

        <h1 class="welcome-header">Mouaz Alhindi</h1>

        <div class="card-row">
            <div class="image-card routing-card home-image-card" id="router" page="skills">
                <img src="./assets/code-screen.JPG" alt="" class="image-card-img">
                <h1 class="image-card-text">Skills</h1>
            </div>
            <div class="image-card routing-card" id="router" page="experience">
                <img src="./assets/brick-headshot-2.jpg" alt="" class="image-card-img">
                <h1 class="image-card-text">Experience</h1>
            </div>
            <div class="image-card routing-card" id="router" page="education">
                <img src="./assets/graduation.JPG" alt="" class="image-card-img">
                <h1 class="image-card-text">Education</h1>
            </div>
            <div class="image-card routing-card" id="router" page="biography">
                <img src="./assets/chill2.jpeg" alt="" class="image-card-img">
                <h1 class="image-card-text">Biography</h1>
            </div>
        </div>
    </div>
</div>