<div class="home page">
    <div class="header-content">
        <h1 class="header">Hello World, I'm Mouaz Alhindi</h1>
        <img src="./assets/home-o-media.jpg" alt="">
    </div>
    <!-- <div class="header-container">
        <h1 class="header">Hello World, I'm Mouaz Alhindi</h1>
    </div> -->
    <div class="content">
        <div class="card-row">
            <div class="card">
                <h1>What is the purpose of this Website?</h1>
                <p>
                   This website contains information that pertain to my passions and goals
                </p>
            </div>
            <div class="card">
                <h1>Why spend time on this website?</h1>
                <p>
                    There are many other websites that I know you would rather spend your time on.
                    With that said, I urge to view this site if you share similar goals and aspirations.
                </p>
            </div>
        </div>
        <div class="card-row">
            <div class="card">
                <h1>What's Interesting about this website?</h1>
                <p>I created it 100% from scratch! I created a small framework for creating
                    static websites that have a look and feel like a small page application.
                </p>
            </div>
        </div>
        <div class="card-row">
            <div class="card routing-card" id="router" page="projects">
                <h1>Projects</h1>
                <p>Take a look at the projects I am currently working on!</p>
            </div>
            <div class="card routing-card" id="router" page="education">
                <h1>Education</h1>
                <p>Check out what I strive to specalize in!</p>
            </div>
            <div class="card routing-card" id="router" page="skills">
                <h1>Hobbies</h1>
                <p>See if we share some interests!</p>
            </div>
            <div class="card routing-card" id="router" page="biography">
                <h1>Biography</h1>
                <p>Get to know me some more!</p>
            </div>
        </div>
    </div>
</div>