<div class="projects page">
    <div class="header-content">
        <h1 class="header">Projects</h1>
        <img src="./assets/project-media.jpg" alt="">
    </div>
    <!-- <div class="header-container">
        <h1 class="header">Projects</h1>
    </div> -->
    <div class="content">
        <div class="card-column">
            <div class="card">
                <h1>Project Mintuia</h1>
                <p>
                    More information Coming Soon!
                </p>
            </div>
            <div class="card">
                <h1>Project SoCo</h1>
                <p>
                    More information Coming Soon!
                </p>
            </div>
        </div>
    </div>
</div>