<div class="projects page-section">
    <div class="header-content">
        <h1 class="header">Projects</h1>
        <img src="./assets/project-media.JPG" alt="">
    </div>
    <div class="content">
        <div class="personal">
            <div class="project-section-header">
                <h2>Personal Projects</h2>
                <h6>The following projects are cultivated and exeucted by me, Mouaz Alhindi</h6>
            </div>
            <div class="card-row">
                <div class="card project-card">
                    <h1 class="project-header">Project Mintuia</h1>
                    <div class="project-body">
                        <div>
                            <h2>Overview</h2>   
                            <p>
                                Project Mintuia gives a new perspective to High School LMS.
                                This project consists of a 50 page write up that includes the following:
                                System Analysis, System Design, System Implmentation, System Security,
                                System Maintemence, Business Stategy, and much more.
                                This project only contains the blueprints of a full scale LMS for high schools.
                                The application is currently under construction.
                            </p>
                            <p>
                                Learn More About It!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card project-card">
                    <h1 class="project-header">Project Rock</h1>
                    <div class="project-body">
                        <div>
                            <h2>Overview</h2>
                            <p>
                                Project Rock creates a way for people to accomplish things
                                step by step. It gives a unqiue UI/UX for organizing tasks and goals
                                based on the task and goal. This application is still under production.
                                More information about the relese of this application will come soon.
                            </p>
                            <p>
                                Learn More About it
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card project-card">
                    <h1 class="project-header">Project U-View</h1>
                    <div class="project-body">
                        <div>
                            <h2>Overview</h2>
                            <p>
                                One of my newest project. Working on creating a Virtual Reaility Experience for high schools
                                students looking to go to a higher education.
                            </p>
                            <p>
                                More information Will be presented at a later date
                            </p>
                        </div>
                    </div>
                </div>
        </div>

        <div class="educational">
            <div class="project-section-header">
                <h2>Educational Projects</h2>
                <h6>The following projects are a product of courses within an educational institution that I have attended</h6>
            </div>
            <div class="card-row">
                <div class="card project-card">
                    <h1 class="project-header">Farm Tycoon</h1>
                    <div class="project-body">
                        <div>
                            <h2>Overview</h2>
                            <p>
                                This project is the product of the CSCI 205 Final project at Bucknell University.
                                My team and I built a game using Libgdx and JAVA. We used Scrum along the way to
                                manage the project and oversee progress. The game is a tycoon based game around farming
                                crops and making money off of harvesting the crops, while having to manage time and pay rent.
                            </p>
                            <p>
                                Link to Repo: <a href="https://gitlab.bucknell.edu/ma039/csci205FinalProject" target="_blank">Farm Tycoon Repo</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        </div>
    </div>
</div>