<div class="skills page-section">
    <div class="header-content">
        <img src="./assets/code-screen.JPG" alt="">
        <h1 class="header">Skills</h1>
    </div>
    <div class="content">
        <div class="skill-header">
            <h2>Programming Languages</h2>
            <h6>Proficent in implmenting complex algorithims to existing code</h6>
        </div>
        <div class="card-row">
            <div class="card skill-block">
                <img src="./assets/python-logo.png" alt="">
                <p>Python</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/java-logo.png" alt="">
                <p>JAVA</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/node-logo.png" alt="">
                <p>Javascript/Node</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/c-logo.png" alt="">
                <p>C/C++</p>
            </div>
        </div>
        <div class="skill-header">
            <h2>Frameworks</h2>
            <h6>Framework and libraries that I have used on large scale company projects</h6>
        </div>
        <div class="card-row">
            <div class="card skill-block">
                <img src="./assets/vue-logo.png" alt="">
                <p>Vue js</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/react-logo.png" alt="">
                <p>React js</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/django-logo.png" alt="">
                <p>Django</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/django-rest-logo.png" alt="">
                <p>Django Rest Framework</p>
            </div>
        </div>
        <div class="skill-header">
            <h2>Development Operations</h2>
            <h6>Knowledge of deploying and maintaining applications</h6>
        </div>
        <div class="card-row">
            <div class="card skill-block">
                <img src="./assets/docker-logo.png" alt="">
                <p>Docker Infrastructure</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/nginx-logo.png" alt="">
                <p>Nginx</p>
            </div>
            <div class="card skill-block">
                <img src="./assets/git-logo.png" alt="">
                <p>Version-Control w/ Git</p>
            </div>
        </div>
        <div class="skill-header">
            <h2>Non-Technical Skills</h2>
            <h6>Valuable Skils within a company and team Environment</h6>
        </div>
        <div class="card-row">
            <div class="card skill-card">
                <h2>Agile Development</h2>
                <p>Application Development under a generic agile implmentation across a development team.</p>
            </div>
            <div class="card skill-card">
                <h2>Communication</h2>
                <p>Ability to communicate ideas, problems, soultions, concerns, etc in an apprioprate manner in terms of time and medium.</p>
            </div>
            <div class="card skill-card">
                <h2>Systems Analysis & Design</h2>
                <p>Ability to analyze and use a business case to develop the blueprints for a system in a documented professional manner.
                    I have experience in structured analysis and Object Oriented analysis
                </p>
            </div>
            <div class="card skill-card">
                <h2>Problem & Soultion Analysis</h2>
                <p>Ability to idenitfy and analyze technical and non-technical problems and apply the appriopiate soultion.</p>
            </div>
            <div class="card skill-card">
                <h2>Project Management</h2>
                <p>Ability to oversee a group of developers and manage tasks in an efficent and effective manner.</p>
            </div>
            <div class="card skill-card">
                <h2>Quick Learner</h2>
                <p>Ability to learn technical skills on that fly that integrate with already known technical skills.</p>
            </div>
        </div>
    </div>
</div>