<div class="skills page-section">
    <div class="header-content">
        <img src="./assets/code-screen.JPG" alt="">
        <h1 class="header">Skills</h1>
    </div>
    <div class="content">
        <div class="prog-lang">
            <div class="skill-header">
                <h2>Programming Languages</h2>
                <h6>Proficent in implmenting complex algorithims to existing code</h6>
            </div>
            <div class="card-row">
                <div class="card skill-block">
                    <img src="./assets/python-logo.png" alt="">
                    <p>Python</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-fill"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/node-logo.png" alt="">
                    <p>Javascript/Node</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-fill"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/java-logo.png" alt="">
                    <p>JAVA</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/kotlin-logo.png" alt="">
                    <p>Kotlin</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/swift-pl.png" alt="">
                    <p>Swift</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/go.png" alt="">
                    <p>Golang</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/c-logo.png" alt="">
                    <p>C</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="frameworks">
            <div class="skill-header">
                <h2>Full Stack Development</h2>
                <h6>Analyze business requirements, choose a proper tech stack, build a reactive Front end with a secure and responsive Back end.</h6>
            </div>
            <div class="skill-header">
                <h3>Front end Framework</h3>
                <h6>Implement UI/UX and complex data visulization.</h6>
            </div>
            <div class="card-row">
                <div class="card skill-block">
                    <img src="./assets/vue-logo.png" alt="">
                    <p>Vue js</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-fill"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/react-logo.png" alt="">
                    <p>React js</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
            </div>

            <div class="skill-header">
                <h3>Back end Framework</h3>
                <h6>Dockerized web API with authentication and flexability.</h6>
            </div>            
            <div class="card-row">
                <div class="card skill-block">
                    <img src="./assets/django-logo.png" alt="">
                    <p>Django & Django Rest Framework</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-fill"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/express-logo.png" alt="">
                    <p>Express JS/Node</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="Application Development">
            <div class="skill-header">
                <h2>Mobile Development</h2>
                <h6>Create native apps for major mobile platforms.</h6>
            </div>
            <div class="card-row">
                <div class="card skill-block">
                    <img src="./assets/android-logo.png" alt="">
                    <p>Android (kotlin)</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/ios-logo.png" alt="">
                    <p>IOS (Swift UI)</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="dev-ops">
            <div class="skill-header">
                <h2>Development Operations</h2>
                <h6>Knowledge of deploying and maintaining applications</h6>
            </div>
            <div class="card-row">
                <div class="card skill-block">
                    <img src="./assets/docker-logo.png" alt="">
                    <p>Docker Infrastructure</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/Kubernetes-Logo.png" alt="">
                    <p>Kubernetes</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/nginx-logo.png" alt="">
                    <p>Nginx</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/git-logo.png" alt="">
                    <p>Version-Control w/ Git</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-fill"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/gitlab-icon.png" alt="">
                    <p>CI/CD deployment w/ Gitlab</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/aws-logo.png" alt="">
                    <p>AWS deployment</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-empty"></span>
                        <span class="dot dot-empty"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
                <div class="card skill-block">
                    <img src="./assets/linode.png" alt="">
                    <p>Linode deployment</p>
                    <div class="dot-container">
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span>
                        <span class="dot dot-fill"></span> 
                        <span class="dot dot-empty"></span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="non-technical">
            <div class="skill-header">
                <h2>Non-Technical Skills</h2>
                <h6>Valuable Skils within a company and team Environment</h6>
            </div>
            <div class="card-row">
                <div class="card skill-card">
                    <h2>Agile Development</h2>
                    <p>Application Development under a generic agile implmentation across a development team.</p>
                </div>
                <div class="card skill-card">
                    <h2>Communication</h2>
                    <p>Ability to communicate ideas, problems, soultions, concerns, etc in an apprioprate manner in terms of time and medium.</p>
                </div>
                <div class="card skill-card">
                    <h2>Systems Analysis & Design</h2>
                    <p>Ability to analyze and use a business case to develop the blueprints for a system in a documented professional manner.
                        I have experience in structured analysis and Object Oriented analysis
                    </p>
                </div>
                <div class="card skill-card">
                    <h2>Problem & Soultion Analysis</h2>
                    <p>Ability to idenitfy and analyze technical and non-technical problems and apply the appriopiate soultion.</p>
                </div>
                <div class="card skill-card">
                    <h2>Project Management</h2>
                    <p>Ability to oversee a group of developers and manage tasks in an efficent and effective manner.</p>
                </div>
                <div class="card skill-card">
                    <h2>Quick Learner</h2>
                    <p>Ability to learn technical skills on that fly that integrate with already known technical skills.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>