<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <caching>
            <profiles>
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>
