<div class="footer">
    <div class="footer-container">
        <div class="footer-block">
            <a href="https://github.com/MouazAlhindi" target="_blank">
                <img src="./assets/GitHub-Logo.png" alt="">
            </a>
            <!-- https://github.com/logos -->
        </div>
        <div class="footer-block">
            <p>MOUAZ ALHINDI</p>
            <p>MOZALHINDI@GMAIL.COM</p>
        </div>
        <div class="footer-block">
            <a href="https://www.linkedin.com/in/mouaz-alhindi" target="_black">
                <img src="./assets/linkedin logo.png" alt="">
                <!-- /https://commons.wikimedia.org/wiki/File:LinkedIn_Logo.svg -->
            </a>
        </div>
    </div>
</div>