<!-- <div class="navbar">
    <div class="nav-item" id="router" page="home">
        Home
    </div>
    <div class="nav-item" id="router" page="projects">
        Projects
    </div>
    <div class="nav-item" id="router" page="skills">
        Skills
    </div>
    <div class="nav-item" id="router" page="experience">
        Experience
    </div>
    <div class="nav-item" id="router" page="biography">
        Biography
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" id="router" page="home">Mouaz Alhindi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" id="router" page="skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="router" page="experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="router" page="biography">Biography</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>